<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .blogs {
            border: 1px solid black;
            padding: 10px;
        }

        .container {
            width: 500px;
            margin: auto;
        }
    </style>
</head>

<body>
    <h1>Blogs-{{blog.title}}</h1>
    <div class="container">
        <div class="blogs">
            <img src="{{blog.imageUrl}}"><br>
            <h4>Title: {{blog.title}}</h4>
            <p>Blog: {{blog.blogContent}}</p>
            <button>
                <a href="/update/{{blog._id}}">Update</a>
            </button>
            <button>
                <a href="/delete/{{blog._id}}">Delete</a>
            </button>
        </div>

    </div>
</body>

</html>