<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>teacher List</h1>

    {{#each teachers as |teacher|}}
        <li>
            Name: {{teacher.name}} <br>
            Age: {{teacher.age}} <br>
            Marks: {{teacher.marks}} <br>
            Subject: {{teacher.subject}}<br>
            <a href="/teachers/{{teacher.id}}">Show Details</a>
        </li><br>
        
    {{/each}}
</body>
</html>